<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- Page title -->
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-card class="login-card">
          <ion-card-header>
            <ion-card-title>
              <ion-text color="success">
                <h1 class="ion-text-start">Hello, Adam</h1>
              </ion-text></ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Page title -->

    <ion-row>
      <ion-card class="water-level-card">
        <ion-card-header>
          <ion-card-title>
            <ion-chip class="water-level-chip">
              <ion-label class="water-level-chip-label"
                >Water Level Indication</ion-label
              >
              <!-- <ion-chip color="success" class="water-level-chip-label"> -->
              <!-- <ion-icon name="calendar" class="mr-1"></ion-icon> -->
              <!-- <i class="fa-regular fa-clock"></i> -->
              <ion-label
                color="success"
                class="water-level-chip-label"
                style="margin-left: 2px"
                >{{time |date:'hh:mm:ss a'}}</ion-label
              >
              <!-- </ion-chip> -->
            </ion-chip>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content
          class="text-center"
          style="margin-top: 67px; margin-bottom: 30px"
        >
          <div class="d-flex flex-column">
            <ion-text style="margin-top: 10px">
              <div class="d-flex flex-row justify-content-center">
                <div
                  style="
                    width: 200px;
                    z-index: -1;
                    position: absolute;
                    top: -94px;
                  "
                >
                  <ng-lottie [options]="options"></ng-lottie>
                </div>
                <h1
                  class="text-white text-center"
                  style="margin-top: -15px; font-size: 20px; font-weight: 600"
                >
                  {{waterLevelPercentage}} %
                </h1>
              </div>
            </ion-text>

            <div
              class="d-flex flex-row justify-content-between mb-3"
              style="font-size: 20px"
            >
              <i
                class="fa-solid fa-arrow-up-from-water-pump align-self-center"
                [class.switch-motor]="motorAutomationStatus === true"
                (click)="updateMotorAutomationStatus()"
              ></i>

              <i
                class="fa-solid fa-power-off"
                [class.switch-motor]="motorStatus === true"
                (click)="switchMotor()"
              ></i>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-chip color="success" (click)="testNotify()">
        <ion-label>ROOMS</ion-label>
      </ion-chip>
    </ion-row>

    <!-- rooms to be displayed -->
    <div class="room-cards-display-column">
      <div class="room-cards-display-row">
        <ion-card class="room-card">
          <ion-card-header>
            <ion-chip>
              <i class="fa-solid fa-couch"></i>
            </ion-chip>
          </ion-card-header>
          <ion-card-content>No Device Found</ion-card-content>
        </ion-card>

        <ion-card class="room-card">
          <ion-card-header>
            <ion-card-title>
              <ion-chip>
                <i class="fa-solid fa-bed"></i>
              </ion-chip>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="device-info">
              <div>
                <ion-card-title> {{"Bedroom"}} </ion-card-title>
                <ion-text>{{"1 device"}}</ion-text>
              </div>

              <div>
                <ion-text>{{" 0 devices active"}}</ion-text>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="room-cards-display-row">
        <ion-card class="room-card">
          <ion-card-header>
            <ion-chip class="icon-chip">
              <i class="fa-solid fa-couch"></i>
            </ion-chip>
          </ion-card-header>
          <ion-card-content>No Device Found</ion-card-content>
        </ion-card>

        <ion-card class="room-card">
          <ion-card-header>
            <ion-card-title>
              <ion-chip>
                <i class="fa-solid fa-bed"></i>
              </ion-chip>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="device-info">
              <div>
                <ion-card-title> {{"Bedroom"}} </ion-card-title>
                <ion-text>{{"1 device"}}</ion-text>
              </div>

              <div>
                <ion-text>{{" 0 devices active"}}</ion-text>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <!-- rooms to be displayed -->
  </ion-grid>
</ion-content>
