<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-vertical">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-margin-horizontal">
              <ion-card class="login-card">
                <ion-card-content class="ion-margin-top">
                  <ion-text color="success">
                    <h1 class="ion-text-center">Sign up</h1>
                  </ion-text>
                  <ion-text>
                    <p
                      class="ion-text-center ion-text-wrap ion-margin-top-1 ion-margin-left-1"
                    >
                      Please fill these details and create account
                    </p>
                  </ion-text>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin-top-4">
            <ion-col class="ion-margin-horizontal">
              <ion-card class="login-card">
                <ion-card-content>
                  <form [formGroup]="signupForm">
                    <ion-item class="ion-no-border ion-round-5">
                      <ion-input
                        type="text"
                        placeholder="First Name"
                        class="ion-round-5"
                        formControlName="firstName"
                      ></ion-input>
                    </ion-item>

                    <ion-item
                      class="ion-margin-top-2 ion-no-border ion-round-5"
                    >
                      <ion-input
                        type="text"
                        placeholder="Last Name"
                        class="ion-round-5"
                        formControlName="lastName"
                      ></ion-input>
                    </ion-item>

                    <ion-item
                      class="ion-margin-top-2 ion-no-border ion-round-5"
                    >
                      <ion-input
                        type="email"
                        placeholder="Email"
                        formControlName="email"
                      ></ion-input>
                    </ion-item>

                    <ion-item
                      class="ion-margin-top-2 ion-no-border ion-round-5"
                    >
                      <ion-input
                        type="password"
                        placeholder="Password"
                        formControlName="password"
                      ></ion-input>
                    </ion-item>

                    <ion-item
                      class="ion-margin-top-2 ion-no-border ion-round-5"
                    >
                      <ion-input
                        type="password"
                        placeholder="Conform Password"
                        formControlName="conformPassword"
                      ></ion-input>
                    </ion-item>
                  </form>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin-top ion-justify-content-center">
            <ion-col
              class="ion-margin-horizontal ion-justify-content-center ion-align-self-center"
            >
              <ion-card class="login-card">
                <ion-card-content class="ion-text-center">
                  <ion-button
                    class="ion-login-button"
                    color="success"
                    (click)="signUp()"
                    >Sign Up</ion-button
                  >
                  <div class="ion-margin-top-2 ion-text-center">
                    <ion-text class="ion-margin-top-2 ion-text-center">
                      Already have an account?
                      <ion-text color="success" (click)="redirectToLogin()"
                        >Login</ion-text
                      >
                    </ion-text>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
