<ion-content [fullscreen]="true">
  <ion-card class="device-detail-card">
    <ion-card-header>
      <ion-card-title class="title-flex">
        <div class="title-text-flex">
          <ion-text> {{"Light Bulb 1"}} </ion-text>

          <ion-text> {{"Energy consumption"}} </ion-text>
        </div>

        <div class="icon-alignment">
          <!-- <ion-item class="icon-alignment"> -->
          <!-- <div> -->
          <i class="fa-solid fa-plug-circle-bolt ion-text-start"></i>
          <!-- </div> -->
          <!-- <div></div> -->
          <!-- <div> -->
          <i class="fa-solid fa-plug-circle-xmark ion-text-end"></i>
          <!-- </div> -->
          <!-- </ion-item> -->
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
