<ion-content [fullscreen]="true">
  <ion-card class="device-detail-card" *ngFor="let device of devices">
    <ion-card-header>
      <ion-card-title class="title-flex">
        <div class="title-text-flex">
          <ion-text> {{device.deviceName}} </ion-text>

          <ion-text> {{device.deviceConsumption}} </ion-text>
        </div>

        <div class="icon-alignment">
          <ion-toggle
            color="success"
            [enableOnOffLabels]="true"
            (ionChange)="test(device,$event)"
            [checked]="device.status"
          ></ion-toggle>
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
